p {
    font-size: 20px;
    line-height: 1.5;
    color: #16fc90;
}

.cool {
    font-size: 20px;
    color: #c00b0b;
}

.background {
    background-color: #4a0158;
    padding: 20px;
}
h1 {
    color: #f30c6c;
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 36px;
}
ul ol {
    list-style-type: square;
    padding-left: 20px;
    font-size: 24px;
    color: #f30c6c;
}
* {
    box-sizing: border-box;
    color: #0b9ff5;
    margin: 20px;
    font-weight: bold;

}